* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(218, 218, 218);
}

.info-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
}

.winrate,
.container2,
.container3 {
  background-color: rgb(255, 255, 255);
  height: 100px;
  border: 1px solid black;
  margin: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.winrate p,
.container2 p,
.container3 p {
  margin-top: 1rem;
}

#trades-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-weight: 200;
}

.dashboard {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.recent-trades-container {
  border: 1px solid black;
  border-radius: 10px;
  width: 400px;
  height: 600px;
  background-color: rgb(255, 255, 255);
}

.trade-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
  margin: 10px;
  font-size: 12px;
  font-weight: 900;
}

.calendar {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.trade-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-self: center;
  font-size: 12px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.2s;
}

.close:hover {
  color: red;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  margin: 15% auto;
  padding: 20px;
  height: 30%;
  width: 40%;
  border: 1px solid #888;
  border-radius: 10px;
}

#modal-title {
  font-size: 24px;
}
.modal-content > div {
  margin-top: 1rem;
}

.modal input {
  padding: 0.25rem 0.5rem;
  outline: none;
  border-radius: 10px;
  border: 0.5px solid black;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

label {
  width: 100px;
  text-transform: uppercase;
  font-size: 14px;
  margin-right: 5px;
  font-weight: 800;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-trade {
  padding: 0.25rem 2rem;
  border-radius: 10px;
  border: 0.5px solid black;
  margin: 1rem 0 0 0;
  transition: 0.2s ease-in-out;
}

.add-trade:hover {
  border: 1px solid black;
}

.date {
  border-bottom: 0.5px solid black;
}

.date li {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.date ul {
  display: flex;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  align-items: center;
}

.weekdays > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 4px;
  margin-top: 10px;
  border-radius: 10px;
  height: 40px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  cursor: pointer;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 4px;
  margin-top: 10px;
  border-radius: 10px;
  height: 80px;
  transition: 0.2s ease-in-out;
  position: relative;
}

.day:hover {
  background-color: #dddddd;
}
.today {
  background-color: rgb(255, 215, 139);
}

.day-empty {
  border: 1px solid black;
  margin: 0 4px;
  margin-top: 10px;
  border-radius: 10px;
  height: 80px;
  background-color: rgb(219, 219, 219);
}

.prev,
.next,
#today {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.prev:hover,
.next:hover,
#today:hover {
  text-shadow: 0 0 1px black;
}

span {
  position: absolute;
  top: 10%;
  left: 80%;
  border-radius: 10px;
}

.trade-indicator {
  font-size: 18px;
  border-radius: 3px;
  margin-top: 5px;
}

.trade-indicator.profit {
  background-color: #c8e6c9;
  color: #2e7d32;
}

.trade-indicator.loss {
  background-color: #ffcdd2;
  color: #c62828;
}
